<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<bean id = "i1" class = "com.hsbc.dao.EmployeeDaoFileImpl"></bean> 
	
	<bean id = "i2" class = "com.hsbc.service.EmployeeServiceImpl">
		<!-- <property name="dao" ref = "i1"></property> --> <!-- calls setDao(i1:EmployeeDaoFileImpl) -->
		<constructor-arg index = "0" ref = "i1"></constructor-arg> <!--  calls Constructor(i1:EmployeeDaoFileImpl) -->
	</bean>
	
	<bean id = "i3" class = "com.hsbc.dao.Datasource">
		<property name = "username" value = "system"></property>
		<property name = "url" value = "jdbc:mysql://localhost:3306/mydb"></property>
		<property name = "password" value = "root"></property>
	</bean>

</beans>